@media screen and (max-width: 480px) {
  body {
  }
  h1 {
    font-size: 2em
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-div {
    width: 95vw;
    height: 73vw;
  }
  .slider {
    height: 100% !important;
  }
  .slide {
    width: 100% !important;
    height: 100% !important;
  }
  #info {
    flex-direction: column;
    padding: 5px;
  }
  .section {
    width: 95%;
    margin: 5px 0 5px 0;
  }
  .text-input {
    width: 80%;
  }
  .flex-container {
    flex-direction: column;
  }
  .btn {
    width: 50vw
  }
}

@media screen and (max-width: 768px) {
  .btn {
    width: 20vw;
  }
}
