body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background-image: url('https://lh3.googleusercontent.com/3O_18cJrFbgkD6lqBB7QUhQvCyq2jsuXFU4nW_hwDGEDMuyjM8HUkATeLhKieUQ_64LrK8u-GfQvmL7GCm54A7KA6Os69mhfieT9DmoHOpOBv_p0ziwXMSR9CXL17LEZhcFLxbEZnw=w2400');
  background-size: cover;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

header {
  height: 100%;
  background: tan;
  display: flex;
  justify-content: space-between;
  box-shadow: -5px 5px 4px;
  margin-bottom: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
}

.contact-info {
  margin-right: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #106303;
}

#logo {
  width: 90px;
  height: 90px;
  margin: 5px;
}

h1 {
  padding: 5px;
  margin: 5px;
  font-family: 'Pacifico', cursive;
  color: #106303
}


.img-div {
  margin: auto;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row-reverse;

  border: 2px solid black;
  padding: 5px;
  width: 50vw ;
  height: 36.5vw;
  box-shadow: -5px 5px 7px;

  overflow-y: hidden;
  overflow-x: auto;
  direction: rtl;

  /* transform: rotate(-90deg); */
  transform-origin: center;
}

.photos {
  /* transform: rotate(90deg); */
  /* margin:0  50px; */

}

#info-section {
  font-size: 1.2em;
  height: 100%;
  text-align: left;
}


.slider {
  height: 100% !important;
}

#info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.section {
  width: 45%;
  background: tan;
  border-radius: 10px;
  box-shadow: -5px 5px 5px #333;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

h2 {
  text-align: center;
  font-size: 2em;
}

footer {
  background: #222;
  height: 10vh;
  width: 100%;
  text-align: center;
  margin: 0;
}
h4 {
margin: 0;
position: relative;
top: 50%;
color: #f1f1f1;
}


.text-input {
  width: 20vw;
  padding: 5px 10px;
  margin: 5px auto;
  border-radius: 20px;
  border: none;
  font-size: 1.3em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.btn {
  width: 10vw;
  padding: 5px 10px;
  margin: 5px auto;
  border-radius: 20px;
  border: none;
  font-size: 1.3em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #106303;
}
.btn:hover {
  background-color: green;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
