body {
  padding: 0;
  margin: 5px auto 0 auto;
  width: 99%;
  overflow-x: hidden;
  background-image: url('./components/images/paint-background.jpg');
}

.page-container {
  position: relative;
  min-height: 100vh;
}

header {
  height: 100%;
  background: tan;
  display: flex;
  box-shadow: -5px 5px 4px;
  margin-bottom: 7px;
  border-radius: 10px;
}

#logo {
  width: 70px;
  height: 70px;
  margin: 5px;
}

h1 {
  padding: 5px;
  margin: 5px;
  font-family: 'Pacifico', cursive
}


.img-div {
  margin: auto;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  background: #f1f1f1;
  border: 2px solid black;
  padding: 5px;
  width: 50vw;
  height: 36.5vw;
  box-shadow: -5px 5px 7px
}

#info-section {
  font-size: 1.2em;
  height: 100%;
}

.slide {
  width: 50vw !important;
  height: 36.5vw !important;
}
.slider {
  height: 36.5vw !important;
}

#info {
  background-color: tan;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  border: 2px solid black;
}

.section {
  width: 45%;
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #333;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 2em;
}

footer {
  background: #222;
  height: 10vh;
  width: 100%;
  text-align: center;
  margin: 0;
}
h4 {
margin: 0;
position: relative;
top: 50%;
color: #f1f1f1;
}


.text-input {
  width: 20vw;
  padding: 3px;

}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
